flows/7_5_deploy_api.json
{"id":"b02a088a8cf71847","label":"7_5_deploy_api","disabled":false,"info":"","env":[],"nodes":[{"id":"6dfa3f0357c6af50","type":"mqtt out","z":"b02a088a8cf71847","name":"PP_DILT_TC_VINTAGE 1","topic":"alert/PP_DILT_TC_VINTAGE/push/1","qos":"0","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"bf04f69173746678","x":870,"y":200,"wires":[]},{"id":"dd1a8b5d56361775","type":"inject","z":"b02a088a8cf71847","name":"Inject","props":[{"p":"payload"}],"repeat":"1","crontab":"","once":true,"onceDelay":"0","topic":"","payload":"0","payloadType":"num","x":190,"y":140,"wires":[["967fa9e47a3c921a"]]},{"id":"fb0175c550fcbbb5","type":"debug","z":"b02a088a8cf71847","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":690,"y":100,"wires":[]},{"id":"967fa9e47a3c921a","type":"function","z":"b02a088a8cf71847","name":"Tourner couleurs","func":"\nvar cpt = context.get(\"cptTournerCouleurs\") || 0;\n\ncpt = (++cpt % 3);\n\nswitch (cpt) {\n    case 0: msg.payload = \"AEE\"; break;\n    case 1: msg.payload = \"EAE\"; break;\n    case 2: msg.payload = \"EEA\"; break;\n}\n\ncontext.set(\"cptTournerCouleurs\", cpt);\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":140,"wires":[["6dfa3f0357c6af50","fb0175c550fcbbb5"]]}]}