flows/flows.json
[{"id":"5e6dfe2a55a28130","type":"tab","label":"7_4_2b_ping_pong","disabled":false,"info":"","env":[]},{"id":"a1504cd47a9f7204","type":"tab","label":"7_4_4_subflow","disabled":false,"info":"","env":[]},{"id":"9b1fa6f8c49e1252","type":"tab","label":"7_4_5b_supervision_boitier","disabled":false,"info":"","env":[]},{"id":"b02a088a8cf71847","type":"tab","label":"7_5_deploy_api","disabled":false,"info":"","env":[]},{"id":"32746e933093321a","type":"subflow","name":"Couleur Frigo","info":"","category":"","in":[{"x":60,"y":160,"wires":[{"id":"5aeb9ba79415b216"}]}],"out":[{"x":720,"y":160,"wires":[{"id":"09e1cc7065e38551","port":0}]}],"env":[],"meta":{},"color":"#DDAA99"},{"id":"4c8499a9c7200fa1","type":"subflow","name":"Couleur Frigo","info":"","category":"","in":[{"x":60,"y":160,"wires":[{"id":"cbfe9d5cae272a15"}]}],"out":[{"x":720,"y":160,"wires":[{"id":"6202110a31977277","port":0}]}],"env":[],"meta":{},"color":"#DDAA99"},{"id":"bf04f69173746678","type":"mqtt-broker","name":"","broker":"ab-mqtt","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"5aeb9ba79415b216","type":"switch","z":"32746e933093321a","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"12","vt":"num"},{"t":"gte","v":"10","vt":"num"},{"t":"gte","v":"8","vt":"num"},{"t":"gte","v":"6","vt":"num"},{"t":"else"}],"checkall":"false","repair":false,"outputs":5,"x":190,"y":160,"wires":[["3b4a0fb347f7cb7e"],["106040bab0518010"],["6f248204b01c0262"],["106040bab0518010"],["3b4a0fb347f7cb7e"]]},{"id":"3b4a0fb347f7cb7e","type":"change","z":"32746e933093321a","name":"ROUGE","rules":[{"t":"set","p":"payload","pt":"msg","to":"CEE","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":80,"wires":[["09e1cc7065e38551"]]},{"id":"106040bab0518010","type":"change","z":"32746e933093321a","name":"JAUNE","rules":[{"t":"set","p":"payload","pt":"msg","to":"AAE","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":240,"wires":[["09e1cc7065e38551"]]},{"id":"6f248204b01c0262","type":"change","z":"32746e933093321a","name":"VERT","rules":[{"t":"set","p":"payload","pt":"msg","to":"EAE","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":160,"wires":[["09e1cc7065e38551"]]},{"id":"09e1cc7065e38551","type":"change","z":"32746e933093321a","name":"FAKE WIRE","rules":[],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":160,"wires":[[]]},{"id":"cbfe9d5cae272a15","type":"switch","z":"4c8499a9c7200fa1","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"12","vt":"num"},{"t":"gte","v":"10","vt":"num"},{"t":"gte","v":"8","vt":"num"},{"t":"gte","v":"6","vt":"num"},{"t":"else"}],"checkall":"false","repair":false,"outputs":5,"x":190,"y":160,"wires":[["bcaf17bd0c9d7210"],["da7a81a7563471a2"],["cc05bdb3e0ef7dc2"],["da7a81a7563471a2"],["bcaf17bd0c9d7210"]]},{"id":"bcaf17bd0c9d7210","type":"change","z":"4c8499a9c7200fa1","name":"ROUGE","rules":[{"t":"set","p":"payload","pt":"msg","to":"CEE","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":80,"wires":[["6202110a31977277"]]},{"id":"da7a81a7563471a2","type":"change","z":"4c8499a9c7200fa1","name":"JAUNE","rules":[{"t":"set","p":"payload","pt":"msg","to":"AAE","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":240,"wires":[["6202110a31977277"]]},{"id":"cc05bdb3e0ef7dc2","type":"change","z":"4c8499a9c7200fa1","name":"VERT","rules":[{"t":"set","p":"payload","pt":"msg","to":"EAE","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":160,"wires":[["6202110a31977277"]]},{"id":"6202110a31977277","type":"change","z":"4c8499a9c7200fa1","name":"FAKE WIRE","rules":[],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":160,"wires":[[]]},{"id":"6674acad03d25a22","type":"mqtt in","z":"5e6dfe2a55a28130","name":"Detection PING","topic":"alert/+/ping","qos":"0","datatype":"utf8","broker":"bf04f69173746678","nl":false,"rap":true,"rh":0,"inputs":0,"x":220,"y":220,"wires":[["f8bc0d1edf1d9553","0c9831eeecb35ab6"]]},{"id":"1644f644f703feb3","type":"debug","z":"5e6dfe2a55a28130","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":850,"y":220,"wires":[]},{"id":"043a7b408792f083","type":"mqtt out","z":"5e6dfe2a55a28130","name":"Envoi PONG","topic":"","qos":"0","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"bf04f69173746678","x":890,"y":300,"wires":[]},{"id":"f8bc0d1edf1d9553","type":"debug","z":"5e6dfe2a55a28130","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":430,"y":140,"wires":[]},{"id":"0c9831eeecb35ab6","type":"change","z":"5e6dfe2a55a28130","name":"Prepare PONG","rules":[{"t":"change","p":"topic","pt":"msg","from":"/ping$","fromt":"re","to":"/pong","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"PONG","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":260,"wires":[["043a7b408792f083","1644f644f703feb3"]]},{"id":"4cc49a2e337f70f3","type":"mqtt in","z":"a1504cd47a9f7204","name":"TC_SOUTIEN FRIGO_01","topic":"sondes/temperature/TC_SOUTIEN_FRIGO_01","qos":"0","datatype":"utf8","broker":"bf04f69173746678","nl":false,"rap":true,"rh":0,"inputs":0,"x":150,"y":80,"wires":[["ba01bd6ffefe3687"]]},{"id":"8c0479fdd39187d2","type":"mqtt out","z":"a1504cd47a9f7204","name":"DILT_TC_VINTAGE TC_SOUTIEN_FRIGO_01","topic":"alert/PP_DILT_TC_VINTAGE/push/4","qos":"1","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"bf04f69173746678","x":640,"y":80,"wires":[]},{"id":"ba01bd6ffefe3687","type":"subflow:32746e933093321a","z":"a1504cd47a9f7204","x":360,"y":80,"wires":[["8c0479fdd39187d2"]]},{"id":"6652628a1e41556d","type":"mqtt in","z":"a1504cd47a9f7204","name":"TC_SOUTIEN FRIGO_02","topic":"sondes/temperature/TC_SOUTIEN_FRIGO_02","qos":"0","datatype":"utf8","broker":"bf04f69173746678","nl":false,"rap":true,"rh":0,"inputs":0,"x":150,"y":140,"wires":[["b9a2c7dc3aa47623"]]},{"id":"5409bcf59a3e8d65","type":"mqtt out","z":"a1504cd47a9f7204","name":"DILT_TC_VINTAGE TC_SOUTIEN_FRIGO_02","topic":"alert/PP_DILT_TC_VINTAGE/push/5","qos":"1","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"bf04f69173746678","x":640,"y":140,"wires":[]},{"id":"b9a2c7dc3aa47623","type":"subflow:32746e933093321a","z":"a1504cd47a9f7204","x":360,"y":140,"wires":[["5409bcf59a3e8d65"]]},{"id":"4e0380a03778c404","type":"mqtt in","z":"a1504cd47a9f7204","name":"TC_SOUTIEN FRIGO_03","topic":"sondes/temperature/TC_SOUTIEN_FRIGO_03","qos":"0","datatype":"utf8","broker":"bf04f69173746678","nl":false,"rap":true,"rh":0,"inputs":0,"x":150,"y":200,"wires":[["e2272b250c3b343b"]]},{"id":"dca9167ec6267552","type":"mqtt out","z":"a1504cd47a9f7204","name":"DILT_TC_VINTAGE TC_SOUTIEN_FRIGO_03","topic":"alert/PP_DILT_TC_VINTAGE/push/6","qos":"1","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"bf04f69173746678","x":640,"y":200,"wires":[]},{"id":"e2272b250c3b343b","type":"subflow:32746e933093321a","z":"a1504cd47a9f7204","x":360,"y":200,"wires":[["dca9167ec6267552"]]},{"id":"833d6f93c2d8a95b","type":"mqtt in","z":"a1504cd47a9f7204","name":"TC_SOUTIEN FRIGO_04","topic":"sondes/temperature/TC_SOUTIEN_FRIGO_04","qos":"0","datatype":"utf8","broker":"bf04f69173746678","nl":false,"rap":true,"rh":0,"inputs":0,"x":150,"y":260,"wires":[["1649b48c9cef7902"]]},{"id":"97da5ee9fed10447","type":"mqtt out","z":"a1504cd47a9f7204","name":"DILT_TC_VINTAGE TC_SOUTIEN_FRIGO_04","topic":"alert/PP_DILT_TC_VINTAGE/push/7","qos":"1","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"bf04f69173746678","x":640,"y":260,"wires":[]},{"id":"1649b48c9cef7902","type":"subflow:32746e933093321a","z":"a1504cd47a9f7204","x":360,"y":260,"wires":[["97da5ee9fed10447"]]},{"id":"7945277065ca975d","type":"trigger","z":"9b1fa6f8c49e1252","name":"Absence PING","op1":"","op2":"CEE","op1type":"nul","op2type":"str","duration":"65","extend":true,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":440,"y":320,"wires":[["bdf3acf7b34aa20f","2383564719bc1644"]]},{"id":"f4cad4c22c6db06e","type":"mqtt in","z":"9b1fa6f8c49e1252","name":"PP_DILT_TC_VINTAGE ping","topic":"alert/PP_DILT_TC_VINTAGE/ping","qos":"0","datatype":"utf8","broker":"bf04f69173746678","nl":false,"rap":true,"rh":0,"inputs":0,"x":180,"y":280,"wires":[["bde1ea5875016f36","7945277065ca975d"]]},{"id":"aa5cdceab63577ba","type":"mqtt out","z":"9b1fa6f8c49e1252","name":"DILT_SDT_SIO_LF TC_VINTAGE push","topic":"alert/PP_DILT_TC_VINTAGE/push/2","qos":"1","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"bf04f69173746678","x":880,"y":400,"wires":[]},{"id":"bdf3acf7b34aa20f","type":"rbe","z":"9b1fa6f8c49e1252","name":"Filtre","func":"rbe","gap":"","start":"","inout":"out","septopics":false,"property":"payload","topi":"topic","x":810,"y":280,"wires":[["aa5cdceab63577ba"]]},{"id":"2383564719bc1644","type":"debug","z":"9b1fa6f8c49e1252","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":830,"y":180,"wires":[]},{"id":"c121fbf331a95d68","type":"mqtt in","z":"9b1fa6f8c49e1252","name":"DILT_SDT_SIO_LF TC_VINTAGE acq","topic":"alert/PP_DILT_TC_VINTAGE/button/2","qos":"0","datatype":"utf8","broker":"bf04f69173746678","nl":false,"rap":true,"rh":0,"inputs":0,"x":170,"y":400,"wires":[["d55aeb897dedb6ef"]]},{"id":"d55aeb897dedb6ef","type":"change","z":"9b1fa6f8c49e1252","name":"Acquittement alarme","rules":[{"t":"set","p":"payload","pt":"msg","to":"EEE","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":400,"wires":[["bdf3acf7b34aa20f","2383564719bc1644"]]},{"id":"bde1ea5875016f36","type":"function","z":"9b1fa6f8c49e1252","name":"","func":"\n// Indicateur si l'uptime est en train de cycler:\n//     0: N'est pas en train de cycler\n//     1: Cyclage en cours (il ne faus pas générer d'alerte)\n//\nvar uptimeCycleEnCours = context.get(\"uptimeCycleEnCours\") || 0;\n\n// Uptime du message en cours\n//\nvar uptimeCourant = parseInt(msg.payload);\n\n// On génère une alerte Jaune \"AAE\" ou Verte \"EAE\"\n//\nif (uptimeCourant <= 600 && uptimeCycleEnCours == 0) {\n    msg.payload = \"AAE\";\n} else {\n    msg.payload = \"EAE\";\n}\n\n// L'uptime est en train de cycler:\n//    - S'il est supérieur à 4294900\n//    - S'il est déjà en train de cycler et que le uptime est < 600\n// Une fois qu'il a passé 600 en est plus en train de cycler\n//\nif (uptimeCourant >= 4294900 || uptimeCourant <= 600 && uptimeCycleEnCours == 1) {\n    context.set(\"uptimeCycleEnCours\", 1)\n} else {\n    context.set(\"uptimeCycleEnCours\", 0)\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":240,"wires":[["2383564719bc1644","bdf3acf7b34aa20f"]]},{"id":"6dfa3f0357c6af50","type":"mqtt out","z":"b02a088a8cf71847","name":"PP_DILT_TC_VINTAGE 1","topic":"alert/PP_DILT_TC_VINTAGE/push/1","qos":"0","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"bf04f69173746678","x":870,"y":200,"wires":[]},{"id":"dd1a8b5d56361775","type":"inject","z":"b02a088a8cf71847","name":"Inject","props":[{"p":"payload"}],"repeat":"1","crontab":"","once":true,"onceDelay":"0","topic":"","payload":"0","payloadType":"num","x":190,"y":140,"wires":[["967fa9e47a3c921a"]]},{"id":"fb0175c550fcbbb5","type":"debug","z":"b02a088a8cf71847","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":690,"y":100,"wires":[]},{"id":"967fa9e47a3c921a","type":"function","z":"b02a088a8cf71847","name":"Tourner couleurs","func":"\nvar cpt = context.get(\"cptTournerCouleurs\") || 0;\n\ncpt = (++cpt % 3);\n\nswitch (cpt) {\n    case 0: msg.payload = \"AEE\"; break;\n    case 1: msg.payload = \"EAE\"; break;\n    case 2: msg.payload = \"EEA\"; break;\n}\n\ncontext.set(\"cptTournerCouleurs\", cpt);\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":140,"wires":[["6dfa3f0357c6af50","fb0175c550fcbbb5"]]}]